---
layout: layouts/base.njk
title: Nauti Boys
subtitle: Florida Keys Mobile Marine Mechanic
---

{# <p>You can take this template and create whatever you want. There are some useful snippets of HTML and great features built right in.
Modifying it to fit a brochure site is as simple as copying over your assets and copy.</p> #}


<section class="features flex flex-wrap bg-blue-300">
  {%- for feature in features -%}
    <div class="sm:w-1/2 mt-2">
      <h2 class="text-xl text-center sm:text-justify">{{ feature.title }}</h2>
      <p class="text-sm">{{ feature.details }}</p>
      {# <time datetime="{{ page.date }}">{{ page.date | dateDisplay("LLLL d, y") }}</time> #}
    </div>
  {%- endfor -%}
</section>

<section class="text-center mt-4 rounded-lg sm:text-justify bg-green-300">
  <h2 class="text-xl">Get in touch with us for a custom quote.</h2>
  <a 
    class="inline-block sm:hidden w-auto border border-blue-500 rounded" 
    href="/contact/">
    Click Here
  </a> or call us 800-867-5309
  <div class="hidden sm:block">
    {% include '_contact_form.njk' %}
  </div>
</section>

{# <p>Also includes support for Netlify Functions, because they are awesome for getting work done.</p>
<ul>
  <li><a href="/api/hello">/api/hello</a></li>
</ul> #}