---
layout: layouts/base.njk
title: Boating Resources
subtitle: Enjoy the waters of the Florida Keys
---
<h2 class="text-xl">Weather</h2>
<p></p>

<h2 class="text-xl">Tides</h2>
<p></p>

<h2 class="text-xl">Charts</h2>
<p></p>

<h2 class="text-xl">Florida Keys National Marine Sanctuary</h2>
<p>
    Most of the water in the Florida Keys is protected and all of it is worth protecting.
    Learn about the resources available and how to stay on the right side of the law. The Florida
    Keys National Marine Sanctuary makes lots of information available about popular dive and
    recreation sites.
</p>